<template>
  <div class="fl w-100 pb4 relative fw4">
    <img class="w3 absolute right-1 top-0" alt="Vue Project" src="../assets/logo.png">
    <h3 class="gray pa4 ma0 tl bb bg-navy white"><span class="bb b--light-red">Выберите криптовалюту для сравнения с USD</span></h3>
    <div v-if="tickers.length" class="flex pa3 items-center bg-white">
      <template>
        <div
          v-for="t in tickers"
          :key="t.name"
          class="flex pa4 pointer hover-navy"
          @click="select(t)"
        >
          <div>
            <dt class="gray hover-navy mb1">
              {{ t.name }}
            </dt>
            <dt v-if="t.price" class="gray">
              {{ t.price }}
            </dt>
          </div>
        </div>
      </template>
    </div>

    <section v-if="sel" class="relative">
      <h3 class="navy fw4 pb3">
        {{ sel.name }} - USD
      </h3>
      <div class="flex items-end pa3" style="height: 360px">
        <div
          v-for="(bar, idx) in normalizeGraph()"
          :key="idx"
          :style="{ height: `${bar}%` }"
          class="bg-light-red border w2 mr1"
        ></div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Chart',

  data() {
    return {
      tickers: [{
        name: 'BTC',
        price: '-',
      }, {
        name: 'DOGE',
        price: '-',
      }, {
        name: 'BNB',
        price: '-',
      }, {
        name: 'ADA',
        price: '-',
      }, {
        name: 'LTC',
        price: '-',
      }, {
        name: 'XRP',
        price: '-',
      }, {
        name: 'DOT',
        price: '-',
      }],
      sel: null,
      graph: [],
    };
  },

  methods: {
    select(ticker) {
      this.sel = ticker;
      this.graph = [];

      setInterval(async () => {
        const f = await fetch(
          `https://min-api.cryptocompare.com/data/price?fsym=${ticker.name}&tsyms=USD&api_key=2a226e0875771b9d06504372d29e07255ddfc31fd80ccc911a5aedc5c43b0a36`,
        );
        const data = await f.json();
        this.tickers.find((t) => t.name === ticker.name).price = data.USD > 1 ? data.USD.toFixed(2) : data.USD.toPrecision(2);

        this.graph.push(data.USD);
      }, 5000);
    },

    normalizeGraph() {
      const maxValue = Math.max(...this.graph);
      const minValue = Math.min(...this.graph);
      return this.graph.map(
        (price) => 10 + ((price - minValue) * 89) / (maxValue - minValue),
      );
    },
  },
};
</script>
