<template>
  <aside class="side-menu fl w-20 pa3 pt4 bg-black-05 tl">
    <header class="side-menu__header">
      <div>
        {{ user.name }}
      </div>
    </header>
  </aside>
</template>

<script>
export default {
  name: 'SideMenu',

  data() {
    return {
      user: {
        name: 'Мария',
      },
    };
  },
};
</script>
