<template>
  <div
    id="app"
    class="app flex vh-100"
  >
    <Chart />
  </div>
</template>

<script>
import Chart from './components/Chart.vue';

export default {
  name: 'App',

  components: {
    Chart,
  },
};
</script>

<style lang="scss">
@import 'styles/app';
</style>
